/* ... CSS lainnya ... */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

.sidebar h2 {
    padding: 16px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    color: #00bfff;
}

.open-sidebar {
    left: 0;
}

#toggleSidebar {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
}